<!-- <div class="container">
    <div class="row">
        <iframe id="myId" type="text/html" 
        src=""
        frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <button (click)="reload() ">prev</button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <button (click)="time = time+100">next</button>
        </div>
    </div>
</div> -->


<div>
    <h1>Game Over!!!</h1>
</div>