/* You can add global styles to this file, and also import other style files */
@import 'node_modules/bulma/bulma';

// body {
//     // position: fixed;
//     // top: 0;
//     // left: 0;
//     // width: 500px;
//     // height: 300px;
//     background: #000000;
//     color: white;
// }

// .content { 
//     color: white;
//     h1,h2,h3,h4,h5 {
//         color: white;
//     }
// }


html {
    margin: 0px;
    padding: 0px;
   	overflow: hidden !important; 
}

body {
	padding: 0px;
	margin: 0px;
	background-color: #2D2D30;
	border: 1px solid #00775b;
	border-top: 34px solid  #00775b;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	-webkit-app-region: drag;
	// background-image: url("assets/bg2.gif");
}

#title-bar {
	-webkit-app-region: drag;
	height: 32px;	
	padding: 0px;
    margin: 0px;  
	color: #ADADAD;
	font-family: sans-serif;
}

#title {
	position: fixed;
	top: 0px;
	left: 12px;	
	line-height: 32px;
	font-size: 14px;
}

#title-bar-btns {
	-webkit-app-region: no-drag;
	position: fixed;
	top: 1px;
	right: 0px;	
}

#title-bar-btns button {
	height: 32px;
	width: 32px;
	background-color: transparent;
	border: none;
	color: #F1F1F1;
	font-size: 16px;
}

#title-bar-btns button:hover {
    background-color: #3F3F41;
    cursor: pointer;
}

#content {
	padding: 12px;	
	color: #CCCCCC;
}

a {
  color: #00775b;
}